MONGODB_URI=mongodb+srv://chitfund_user:Book%4071235139@cluster0.whwkdba.mongodb.net/chitfund?retryWrites=true&w=majority
CLIENT_ORIGIN=https://rageshvarma99.github.io
UPLOADS_DIR=./uploads
PORT=5000
